body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    color: #2e2f42;
}

.navigation {
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
}

.navigation:focus,
.navigation:hover {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.feedback {
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.feedback:focus,
.feedback:hover {
    color: #404bbf;
}

.order-section {
    background-color: #2e2f42;
}

.order-section-text {
    color: #FFFFFF;
    text-align: center;
    font-style: normal;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.order-button {
    background-color:#4D5AE5; 
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.offer-section-offers {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}

.offer-section-desc {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    background-color: #F4F4FD;
}

.team-section-name {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.member-list-element {
    background-color: #FFFFFF;
}

.team-member-name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-member-specification {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-section-img {
    background-color: #FFFFFF;
}

.portfolio-element-name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-element-type {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo-studio-footer {
    color: #F4F4FD; 
}